/*初始化*/
::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #ccc;
}

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #ccc;
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #ccc;
}

:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #ccc;
}


/*内容*/

.r_content {
	width: 100%;
	height: auto;
}

.r_content_main {
	width: 1002px;
	height: auto;
	margin: 0 auto;
	position: relative;
	border-bottom: 1px solid #eaeaea;
	text-align: center;
	padding-bottom: 60px;
}

.r_content_main_two {
	width: 1002px;
	height: 600px;
	margin: 0 auto;
	position: relative;
	border-bottom: 1px solid #eaeaea;
	text-align: center;
	padding-bottom: 60px;
}

.r_content_main h1,
.r_content_main_two h1 {
	padding-top: 50px;
	font-size: 30px;
	color: #3a3a3a;
}

.bar {
	margin: 30px auto 40px auto;
	display: block;
}

.r_content_main input,
.r_content_main_two input {
	margin-bottom: 24px;
	height: 46px;
	line-height: 46px;
	border: 1px solid #ddd;
	transition: .5s all ease;
	font-size: 16px;
	color: #333;
	border-radius: 2px;
}

.r_content_main input:focus,
.r_content_main_two input:focus {
	border: 1px solid #21cf70;
	transition: .5s all ease;
}

.inp_box {
	width: 400px;
	height: auto;
	margin: 0 auto;
	position: relative;
	padding: 0 120px;
	text-align: left;
}

.phone_left {
	width: 98px;
	margin-right: 10px;
	text-align: center;
}

.phone {
	width: 280px;
	text-indent: 20px;
}

.phone_code {
	width: 208px;
	text-indent: 12px;
	margin-right: 10px;
}

.hq_code {
	width: 170px;
	border: 1px solid #2fad68 !important;
	background: #e4f9ee;
	text-align: center;
	color: #2fad68 !important;
	cursor: pointer;
}

.img_code {
	width: 208px;
	text-indent: 12px;
	margin-right: 10px;
	float: left;
}

.verification {
	width: 140px;
	height: 30px;
	display: inline-block;
	margin-left: 10px;
	padding: 10px;
	float: left;
	cursor: pointer;
}

.password_one,
.password_two {
	width: 390px;
	text-indent: 130px;
}

.confirm_one {
	font-size: 16px;
	color: #666;
	position: absolute;
	top: 238px;
	left: 140px;
}

.confirm_two {
	font-size: 16px;
	color: #666;
	position: absolute;
	top: 312px;
	left: 140px;
}

.next_one {
	width: 380px;
	height: 52px;
	line-height: 52px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	background: #2fad68;
	transition: .5s all ease;
	margin-top: 6px;
	cursor: pointer;
	border-radius: 2px;
}

.next_one:hover {
	background: #21cf70;
	transition: .5s all ease;
}

.protocol {
	width: 400px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	color: #999;
	text-align: left;
}

.protocol input {
	margin-bottom: 0 !important;
	height: 34px;
	line-height: 34px;
	margin-top: -1px;
}

.protocol a {
	font-size: 14px;
	color: #999;
}

.protocol a:hover {
	color: #2DAD69;
}

.inp_box span {
	position: absolute;
	font-size: 14px;
	color: #f7696b;
}


/*手机格式验证*/

.phone_yz {
	position: absolute;
	font-size: 14px;
	color: #f7696b;
	top: 17px;
	left: 524px;
}

.phone_yz img {
	vertical-align: middle;
	margin-right: 6px;
}


/*手机验证码验证*/

.phone_code_yz {
	position: absolute;
	font-size: 14px;
	color: #f7696b;
	top: 130px;
	left: 122px;
}


/*图片验证码验证*/

.img_code_yz {
	position: absolute;
	font-size: 14px;
	color: #f7696b;
	top: 204px;
	left: 122px;
}


/*密码验证*/

.password_one_yz {
	position: absolute;
	font-size: 14px;
	color: #f7696b;
	top: 278px;
	left: 122px;
}


/*二次密码验证码*/

.password_two_yz {
	position: absolute;
	font-size: 14px;
	color: #f7696b;
	top: 352px;
	left: 122px;
}


/*注册2*/

.corporate {
	width: 390px;
	text-indent: 130px;
}

.corporate_text {
	font-size: 16px;
	color: #666;
	position: absolute;
	top: 16px;
	left: 140px;
}

.company {
	width: 392px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #ddd;
	text-indent: 130px;
	font-size: 16px;
	color: #ccc;
	transition: .5s all ease;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url(../img/down.png) no-repeat scroll center transparent;
	background-position: 366px;
	cursor: pointer;
}

.company_text {
	font-size: 16px;
	color: #666;
	position: absolute;
	top: 90px;
	left: 140px;
}

.select_box ul {
	width: 392px;
	position: absolute;
	left: 120px;
	top: 128px;
	border: 1px solid #ddd;
	background: #fff;
	overflow: hidden;
	display: none;
	z-index: 99;
}

.select_box ul li {
	display: block;
	height: 39px;
	overflow: hidden;
	line-height: 39px;
	padding-left: 20px;
	width: 372px;
	cursor: pointer;
	text-align: left;
	border-bottom: 1px solid #ddd;
	font-size: 14px;
	color: #999;
}

.hover {
	background: url(../img/select_li.png) no-repeat;
	color: #2fad68 !important;
}

.next_two {
	width: 380px;
	height: 52px;
	line-height: 52px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	background: #2fad68;
	transition: .5s all ease;
	margin-top: 36px;
	cursor: pointer;
	border-radius: 2px;
}

.next_two:hover {
	background: #21cf70;
	transition: .5s all ease;
}


/*公司名称验证*/

.corporate_yz {
	position: absolute;
	font-size: 14px;
	color: #f7696b;
	top: 54px;
	left: 122px;
}


/*企业类型验证*/

.company_yz {
	position: absolute;
	font-size: 14px;
	color: #f7696b;
	top: 128px;
	left: 122px;
}


/*注册3*/

.hongbao {
	display: block;
	margin: 0 auto 40px auto;
}

.next_end {
	width: 380px;
	height: 52px;
	line-height: 52px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	background: #ff7a32;
	transition: .5s all ease;
	cursor: pointer;
	border-radius: 2px;
}

.next_end:hover {
	background: #fe9b4c;
	transition: .5s all ease;
}

.tiaozhuan {
	font-size: 14px;
	color: #999;
	margin-top: 10px;
}